section {
    max-width: 900px;
}

section textarea {
    border: none;
    outline: none;
    padding: 20px;
    font-family: Special Elite;
    overflow-x: hidden;
    overflow-y: hidden;
    background: transparent;
    margin-bottom: 10rem;
    margin-top: 1rem;

}

#sheetpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;

}

.top-level {
    padding-left: 20px;
    padding-right: 30px;

}

#sheet-date {
    font-size: 33px;
    margin-bottom: 3rem;
}


#sheet-font {
    font-size: 15px;
}

#font-settings {
    margin-top: 20px;
    display: flex;
    gap: 2rem;

}



#sheet-results {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #ffff;
    padding: 10px;
    height: 50px;
    background: transparent;
    backdrop-filter: blur(12px);

}


#options {
    display: flex;
}

.result-element {
    display: flex;
    gap: 2rem;

}

button {
    padding: 5px;

}